body{
    background-color: #efe7e3;

}

.frame {
    margin: 180px;
    display: flex;
    flex-direction: column;
}

a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.greeting {
    font-family: sans-serif;
    font-size: 50px;
}

.name {
    background-color: pink;
}

.name:hover {
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
    transition: none;
}

.highlight {
    color: white;
    -webkit-text-stroke: 1px black;

}

.highlight:hover {
    background-color: pink;
    transition: none;
}

.type1:hover {
    background-color: orange;
}

.type2:hover:hover {
    background-color: skyblue;
}

.frame-q {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    width: 1000px;
    padding: 50px;
}

.frame-q2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: space-around;
    width: 1000px;
    padding: 50px;
}

.question{
    margin: 5px;
    font-family: sans-serif;
    width: 500px;

}

.answer{
    margin: 10px;
    font-family: sans-serif;
    width: 500px;

}